@use "src/app/theme.scss";

.intro {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  position: relative;
}

.background__image {
  width: 100%;
  height: 100%;
  position: absolute;
}

.intro__content {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 500px;
  margin: auto;
  top: 16%;
  padding: 0 20px;

  .avatar__lozenge {
    width: 30%;
    display: flex;
    justify-content: center;
    .lozenge__external {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 291px;
      height: 291px;
      padding: 12px;
      border: 3px solid theme.$mainThemeColor;
      border-radius: 15px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);

      .lozenge__internal {
        width: calc(291px - 32px);
        height: calc(291px - 32px);
        background: #e0e6e2;
        overflow: hidden;
        border: 3px solid #fff;
        border-radius: 15px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);

        .lozenge__image {
          position: absolute;
          width: 150%;
          height: 150%;
          top: -16%;
          left: -9%;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      }
    }

    @media (max-width: theme.$midleDesktop) {
      width: 100%;
      .lozenge__external {
        width: 250px;
        height: 250px;
        .lozenge__internal {
          width: calc(250px - 32px);
          height: calc(250px - 32px);
        }
      }
    }

    @media (max-width: theme.$mobileOnly) {
      .lozenge__external {
        width: 250px;
        height: 250px;
        .lozenge__internal {
          width: calc(250px - 32px);
          height: calc(250px - 32px);
        }
      }
    }
  }

  .content__text {
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    width: 50%;
    z-index: 9;

    .text__dev {
      color: #fff;
      font-size: 2rem;
      margin-top: 10px;
    }

    .text__name {
      color: theme.$mainThemeColor;
      font-size: 3rem;
      font-weight: 800;
    }

    .text__skills {
      color: #fff;
      font-size: 1.5rem;
    }
    @media (max-width: theme.$midleDesktop) {
      width: 70%;
      margin: 0px auto;
    }

    @media (max-width: theme.$mobileOnly) {
      width: 100%;
      margin: 30px auto;
      .text__dev {
        font-size: 1.5rem;
      }
      .text__name {
        font-size: 2.5rem;
      }
      .text__skills {
        font-size: 1.3rem;
      }
    }
  }
}
