@use "src/app/theme.scss";

.projectList__section {
  width: 100%;
  background: theme.$darkGray;
  padding: 16px;

  .section__header {
    color: #fff;
    text-align: center;
    h1 {
      font-size: 2rem;
    }
  }

  .projectList__container {
    display: flex;
    justify-content: center;
  }
  @media (max-width: 703px) {
    .projectList__container {
      display: block;
    }
  }
}
