$mainThemeColor: #54daf8;
$lightGray: #404040;
$darkGray: #262626;
$black: #000;
$white: #fff;

$frontStackTheme: #0367a6;
$backStackTheme: #1f7334;
$fullStackTheme: #9530d9;
$uxStackTheme: #f29f05;

$midleDesktop: 984px;
$mobileOnly: 542px;
$smallMobile: 400px;
