*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    list-style: none;
}

:root{
    --mainThemeColor: #1B6DF7;
}
.img-container{
    flex-basis: 100%;
}

.border{
    border: solid 3px var(--mainThemeColor);
}
