.main_header{
    display: flex;
    flex-wrap: wrap;
    background: var(--mainThemeColor);
    padding: 10px;
    justify-content: space-between;
}
.main_header h1{
    color: #fff;
}
.logo{
    flex-basis: 13%;
}
.main_header_nav{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 18%;
}
.main_header_nav ul{
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 100%;
    align-items: center;
    justify-content: flex-end;
}
.main_header_nav ul li{
    margin: 0 10px;
}
.main_header_nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.7em;
}

.main{
    display: flex;
    flex-wrap: wrap;
}

.foto{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 25%;
    max-width: 300px;
    margin: 20px auto;
}
.foto_img{
    width: 100%;
    border-radius: 50%;
    border: solid 5px var(--mainThemeColor);
}

.presentation{
    flex-basis: 100%;
}
.presentation p{
    text-align: center;
    font-size: 1.6em;
}
.my_name{
    color: var(--mainThemeColor);
}
.description{
    font-size: 0.875em;
}