/* 
HEADER
*/
.main_header{
    display: flex;
    flex-wrap: wrap;
    background: var(--mainThemeColor);
    padding: 10px;
    justify-content: space-between;
}
.main_header h1 a{
    color: #fff;
    text-decoration: none;
}
.logo{
    flex-basis: 13%;
}
.main_header_nav{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 18%;
}
.main_header_nav ul{
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 100%;
    align-items: center;
    justify-content: flex-end;
}
.main_header_nav ul li{
    margin: 0 10px;
}
.main_header_nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.7em;
}

/* 
MAIN
*/
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* 
PRESENTATION
*/
.main_presentation{
    flex-basis: 100%;
}
.foto{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 25%;
    max-width: 300px;
    margin: 20px auto;
}
.foto_img{
    width: 100%;
    border-radius: 50%;
    border: solid 5px var(--mainThemeColor);
}

.presentation{
    flex-basis: 100%;
}
.presentation p{
    text-align: center;
    font-size: 1.6em;
}
.my_name{
    color: var(--mainThemeColor);
}
.description{
    font-size: 0.875em;
}

/* 
PROJECTS
*/
.projects{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 98%;
    padding: 40px 0;
}
.projects_header{
    flex-basis: 100%;
    text-align: center;
}
.projects_header h1{
    font-size: 2em;
}

/* PROJECT */
.project{
    display: flex;
    flex-wrap: wrap;
}
.project_header{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    font-size: 1.3em;
}
.project_header img{
    width: 10%;
    margin-left: 10px;
}
.status_otmz{
    color: #EDC218;
}

/* PROJECT ARTICLE */

.project_article{
    display: flex;
    flex-wrap: wrap;
    border-left: solid 7px var(--mainThemeColor);
    border-right: solid 7px var(--mainThemeColor);
    border-radius: 5px;
    padding: 10px 10px 20px 10px;
}
.project_article_header{
    flex-basis: 100%;
}
.project_article_header{
    font-size: 1.3em;
}
.project_article_content{
    display: flex;
    flex-wrap: wrap;
}
.project_article_content_img{
    flex-basis: 48%;
}
.project_article_content_img img{
    width: 100%;
}
.project_article_content_text{
    flex-basis: 48%;
}
.title{
    font-size: 1.3em;
    font-weight: 700;
}
.project_article_content_text p{
    margin-top: 10px;
    text-align: justify;
    font-size: 1.2em;
}
.project_article_content_links{
    margin-top: 20px;
}
.read_more{
    text-decoration: none;
    color: #fff;
    background: var(--mainThemeColor);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1.2em;
}

/*
DESCRIPTION ARTICLE
*/
.description_article{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 80%;
}
.description_article_header{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    padding: 20px 0;
}
.description_article_header h1{
    flex-basis: 100%;
    font-size: 2em;
}
.description_article_header p{
    flex-basis: 100%;
    font-size: 1.3em;
}
.description_article_header a{
    text-decoration: none;
    color: #fff;
    background: var(--mainThemeColor);
    padding: 5px 10px;
    margin: 10px 0px;
    border-radius: 5px;
    font-size: 1.2em;
}
.description_article_header a:last-child{
    margin-left: 10px;
}
.description_article_content{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
}
.description_article_content h2{
    font-size: 1.8em;
    margin: 5px 0;
}
.description_article_content p{
    margin: 5px 0;
    font-size: 1.1em;
    text-align: justify;
}
.description_article_content img{
    width: 100%;
    margin: 5px 0;
}
.description_article_content a{
    text-decoration: none;
    color: var(--mainThemeColor);
}

@media (min-width: 1px){
    /* PROJECT ARTICLE */
    .project_article{
        border-left: solid 3px var(--mainThemeColor);
        border-right: solid 3px var(--mainThemeColor);
        border-bottom: solid 7px var(--mainThemeColor);
        border-top: solid 7px var(--mainThemeColor);
        padding: 10px 10px 20px 10px;
    }
    .project_article_content_img{
        flex-basis: 100%;
    }
    .project_article_content_text{
        flex-basis: 100%;
    }
}

@media (min-width: 930px){
     /* PROJECT ARTICLE */
     .project_article{
        border-top: none;
        border-bottom: none;
        border-left: solid 7px var(--mainThemeColor);
        border-right: solid 7px var(--mainThemeColor);
        padding: 10px 10px 20px 10px;
    }
     .project_article_content_img{
        flex-basis: 48%;
    }
    .project_article_content_text{
        flex-basis: 48%;
    }
    
}